<div id="cropHolder">
    <div class="headerHolder">
        <h1 class="cropImageHeader">Crop Your Image</h1>
    </div>
    <div class="cropImageHolder">
        <img id="cropImg" src="{{imgSrc}}"/>
    </div>
    <div class="cropButtonsHolder">
        <button type="button" id="cancelCropButton" class="cropButton">Cancel</button>
        <button type="button" id="submitCropButton" class="cropButton">Submit</button>
    </div>

</div>