
<div class = "imageHolder" id="{{imageID}}">  
    <img class = "animalPicture" src="{{animalImage}}" alt="{{alt}}" />
    <div class="buttonsHolder">
        <button class="crop alterButton" >Crop</button>
        <button class="delete alterButton">Delete</button>
    </div>
</div>
