<!--Main Body-->

<!DOCTYPE html>
<html>
  <head>
      
      <link rel="stylesheet" href="/index.css" />
      <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.runtime.js"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      {{{_sections.head}}}
    </head>

    <body>
     
      {{{body}}}

    </body>
  </html>
