{{#section 'head'}}
    


    
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/404.css">
{{/section}}
<div id="contentHolder">
    <h1><a class="homePageLink" href="/" title="Return to Home Page">Collage Creator</a></h1>
    <h2 id="uhohHeader">Uh oh... you weren't supposed to get here</h2>
    <h3 id="whoToBlameHeader">You can probably blame that dumb guy who made this website. I think his name is Jacob or 
        something like that. 
    </h3>
    <a href="/" id="backToHomePage" title="Go To The Home Page"><p>Oh well... Click here to go back to the main page.</p></a>
</div>