
{{#section 'head'}}


   
    <link rel="stylesheet" href="/css/index.css">
     <link rel="stylesheet" href="/css/apiShow.css">

{{/section}}


    <div id="contentHolder">
        <h1><a class="homePageLink" href="/" title="Return to Home Page">Collage Creator</a></h1>


        <p class="descriptionText">Here is the image that I get by consuming Andy's API!
        </p>
        <div id="imgHolder">
           <img src="/apiWordCloud" alt="Image of a collage" id="wordCloudImage"/>
        </div>


    </div>
    