{{#section 'head'}}
    
    <script src="/resultDisplayTemplate.js"></script>
     <script src="/getResult.js" defer></script>

    <title>Collage Creator</title>
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/result.css">
{{/section}}



    <div id="contentHolder">
        <h1><a class="homePageLink" href="/" title="Return to Home Page">Collage Generator</a></h1>

         
        <p class="resultText ">Nice Job! Here's your collage, click it to
            save it to your computer!
        </p>

        
       
           
        <div id="goAgainHolder">
            <p> Go Again?</p>
            <button type="button" id="goAgainButton">&#8594;</button>
         </div>

        </div>