{{#section 'head'}}
 
    <script src="/imageDisplayTemplate.js"></script>
   

    <title>Collage Result</title>
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/result.css">
{{/section}}



    <div id="contentHolder">
        <h1><a class="homePageLink" href="/" title="Return to Home Page">Collage Generator</a></h1>


        <p class="resultText ">Nice Job! Here's your collage, be
            sure to save it to your computer!
        </p>

        <div class="resultHolder">
            <img class="collageImg" src="https://placekitten.com/300/300"/>
            <button type="button" id="downloadButton">Download 	
&#8659;</button>
        </div>
       
           
        <div id="goAgainHolder">
            <p> Go Again?</p>
            <button type="button" id="goAgainButton">&#8594;</button>
         </div>

        </div>