
{{#section 'head'}}

 
    <title>Upload Images</title>
 
{{/section}}

  
    <div id="contentHolder">
        <h1>Collage Generator</h1>
          {{> collageTitle}}

        <p class="descriptionText">Great! Now you need to upload some images! You will need
            at least one.
        </p>
    <input type="file" id="myFile" name="filename" accept="image/png, image/jpeg">
        
        

    </div>
    






