
{{#section 'head'}}
 
    <script src="/cropImageTemplate.js"></script>
   <script src="/imageDisplayTemplate.js"></script>
    <link rel="stylesheet" href="/images.css" />
    <link  href="/cropperjs/cropper.css" rel="stylesheet">
    <script src="/cropperjs/cropper.js" defer></script>
     <script src="/imageUploadingScript.js" defer></script>
     <script src="/imagesSendScript.js" defer></script>
    <title>Collage Creator</title>
    
{{/section}}

    <div id="mainHolder">
        <div id="photoHolder">
            <h2 class="imagesHeader">Previously Uploaded Images</h2>
        </div>
   
    <div id="contentHolder">
        <h1><a class="homePageLink" href="/" title="Return to Home Page">Collage Generator</a></h1>
          {{> collageTitle}}

        <p class="descriptionText">Great! Now you need to upload some images! You will need
            at least one.
        </p>
            <input type="file" id="imgupload" accept="image/*" style="display:none"/> 
            <button type="button" id="uploadButton">Upload An Image</button>
            <button type="button" id="sendButton">Done</button>
    </div>
    
 </div>





