
{{#section 'head'}}
 
    <script src="/js/cropImageTemplate.js"></script>
    <script src="/js/spinnerTemplate.js"></script>
   <script src="/js/imageDisplayTemplate.js"></script>
    <link rel="stylesheet" href="/css/images.css" />
    <link  href="/cropperjs/cropper.css" rel="stylesheet">
    <script src="/cropperjs/cropper.js" defer></script>
     <script src="/js/imageUploadingScript.js" defer></script>
     <script src="/js/imagesSendScript.js" defer></script>
      <script src="/js/refetchImages.js" defer></script>
    
{{/section}}

    <div id="mainHolder">
        <div id="photoHolder">
            <h2 class="imagesHeader">Previously Uploaded Images</h2>
        </div>
   
    <div id="contentHolder">
        <h1><a class="homePageLink" href="/" title="Return to Home Page">Collage Creator</a></h1>
          {{> collageTitle}}

        <p class="descriptionText">Great! Now you need to upload some images! You will need
            at least one.
        </p>
            <input type="file" id="imgupload" accept="image/*" style="display:none"/> 
            <button type="button" id="uploadButton">Upload An Image</button>
            <button type="button" id="sendButton">Done</button>
    </div>

        <button type="button" title="Go Back To Title Selection" id="backButton">
            Go Back
        </button>
   
    
 </div>





