

body{
    background-color: #939598;
    color:white;
    margin:0px;
    padding:0px;
    font-family:sans-serif;

}


h2{
    font-size:30px;
    text-shadow:4px 4px 6px rgb(46, 46, 46);
    text-align:center;
}


h1{
    font-size:60px;
    text-shadow:5px 5px 6px rgb(46, 46, 46);

}

p.descriptionText{
    margin-top:0px;
    font-family:serif;
    font-size:40px;
    text-align:center;
    text-shadow:3px 3px 6px rgb(46, 46, 46);
}




.collageTitle{
    color:#3a3a3c;
    margin-top:0px;
    font-size:50px;
    font-weight:lighter;
    text-shadow:3px 3px 6px rgb(78, 78, 78);
}

.homePageLink{
    color:inherit;
    text-decoration: none;
}
.homePageLink:hover{
    text-decoration: underline;
    
}



#backButton{
    position:fixed;
    border:none;
    border-radius:10px;
    box-shadow:4px 4px 6px rgb(46, 46, 46);
    background-color:none;
    width:200px;
    height:50px;
    bottom:30px;
    left:30px;
    border:none;
    font-size:2rem;
    transition:box-shadow .2s;
   color: black;
    background-color:none;
    cursor:pointer;
}
#backButton:hover{
    box-shadow:6px 6px 6px rgb(46, 46, 46);
    color:#3480eb;
}
@media(max-width:650px){
    p.descriptionText{
        font-size:35px;
    }
}
@media(max-width:500px){
    h1{
        font-size:45px;
    }
}
@media (max-width:420px){
    h1{
        font-size:40px;
    }
    p.descriptionText{
        font-size:30px;
    }
    
}


@media(max-width:320px){
    p.descriptionText{
        font-size:20px;
    }
}