#mainHolder{
    width:100%;
    display:flex;
}
#contentHolder{
    display:flex;
    flex-flow:column wrap;
    align-items:center;
    width:70%;
   
}
.animalPicture{
    border-radius:5px;
    background-color:none;
    padding:5px;
}
.imageHolder{
    margin-bottom:10px;
    margin-top:10px;
    box-shadow:6px 6px 20px rgb(78, 78, 78);
    background-color:none;
    border-radius:5px;
}


#photoHolder{
    
    width:20%;
    height:100px;
    display:flex;
    flex-flow: column;
    align-items:center;

}
